{#
/**
 * @file
 * Default theme implementation to display wmcontent entities.
 *
 * Available variables:
 * - items: All wmcontent entities, in the correct order. Use {{ content }} to print them all,
 *   or loop them to do other stuff.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 * - delta: Where we are in all the sections.
 * - background: The background class of the current section.
 *
 * @see template_preprocess_wmcontent()
 *
 * @ingroup themeable
 */
#}

{%
set classes = [
'wmcontent-container-section',
'wmcontent-container-' ~ container ~ '-section',
'wmcontent-container-' ~ container ~ '-section-' ~ delta,
background ? 'background--' ~ background|clean_class : '',
]
%}
<div{{ attributes.addClass(classes) }}>
  {% for item in items %}
    <div class="wmcontent-item wmcontent-item-{{ item['#type'] }} wmcontent-item-{{ item['#type'] }}-{{ item['#bundle'] }} {{ item['#size'] }}">
      {{ item }}
    </div>
  {% endfor %}
</div>
